/* Reset */
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.background {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    height: 100%;
    width: 90%;
    background-color: #454d6b;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.titulo {
    height: 25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.acoes {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
}

.botao {
    text-transform: uppercase;
    font-size: 18px;
    height: 4rem;
    width: 80%;
    border: none;
    color: white;
    background-color: #a13854;
}

.botao:hover {
    cursor: pointer;
    background-color: #9d1e40;

}
